extends layout 

block layout-content 
    div.View
        h1.Banner quantum.qyle
        div.Message BETA 1.0.2
        //span.Details Access more information about compu
    .NavButtons 
        a(href="/about")
            div.NavButton Learn More